:root{
    --header : #fff;
    --header-hover : rgba(0,0,0,.15);
    --header-text : #111;
    --home-background : #619dc2;
    --photo-border : #FF5629;
    --portfolio-background : #1ed9c3;
    --portfolio-fixed-background: #ffffff;
    --experience-fixed-background: #f3f3f3;
    --im-bored : #0F5959;
    --about-background: #17A697;
    --contact-background: #373F51;
    --color1: rgba(91, 192, 235, 1);
    --color2: rgba(253, 231, 76, 1);
    --color3: rgb(242, 87, 48);
    /*--color5: #ED6A5A;*/
    /*--color1: #D492ff;*/
    /*--color2: #9ED8ff;*/
    /*--color3: #60f071;*/
}

#header{
    height:0;
}

#intro h1{
    color:black;
    font-size: 48px;
    margin-bottom: 10px;
    line-height: 8vh;
}

#intro p{
    margin-top: 10px;
    color:black;
    font-size: 18px;
}

#background-thing{
    margin-top: 30vh;
    background-color: rgba(255,255,255,.3);
    border-radius: 7px;
    transition: margin-left .5s;
}

#introCover{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.4);
}
#intro{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.prev:hover{
    text-decoration: none;
    color:white;
}
.next:hover{
    text-decoration: none;
    color:white;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.first{
    background-image: url("../images/happymainpage.jpg");
}
.second{
    background-image: url("../images/imagehappy2.jpeg");
}
.third{
    background-image: url("../images/happy3.jpeg");
}

img{
    max-width:100%;
    max-height:100%;
}

.imageHolder{
    width: 50%;
    padding: 8px;
    float: left;
}

section hr{
    margin-bottom: 17px;
    margin-top: 12px;
    border-top: 1px solid black;
}
section{
    padding-top: 25px;
    padding-bottom: 25px;
}
.hr1{
    width: 25%;
}
.hr2{
    width: 20%;
}
.hr3{
    width: 15%;
}

.bodyText{
    font-family:Bitter;
    font-size: 18px;
    line-height: 200%;
    overflow: auto;
}

.bigQuote{
    width: 50%;
    font-family: 'BioRhyme', serif;
    font-size: 32px;
    padding: 5px;
    float: left;

}
.bottomSpace{
    margin-bottom: 30px;
}

.blue{
    background-color: var(--color1);
}
.yellow{
    background-color: var(--color2);
}
.red{
    background-color: var(--color3);
}

#whatHappiness{
    padding-top: 109px;
    margin-top:0;
    color: black;
    background-color: white;
}

#collegeSad{
    background-color: var(--experience-fixed-background);
}
#hapRelMon{
    background-color: white;
}

section{
  outline: 0;
}
html{
    font-size:16px;
}
body {
    font-family: 'Fira Sans', serif;
    font-weight: 300;
    font-size: 1em;
    top:0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif !important;
}
h1{
    font-weight: 900;
    font-size: 4em;
    text-align: center;
}

p, div {
    font-family: 'Bitter', serif;
}
a{
    text-decoration: none;
}
.goup{
    z-index: 1;
    position: fixed !important;
    top: 0 !important;
    left:0 !important;
    box-shadow: 0 1px 5px grey;
}
.background-image{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 400px;
    margin-top:0;
    -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
}

@media screen and (max-width:480px) {
    h1{
        font-size: 3em;
    }
}

.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    cursor: hand;
}
.fixed{
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
    opacity: 1;
}
.fixed.disappearing{
    opacity:0;
}
.noscroll{
    overflow:hidden;
}


/*PORTFOLIO*/

#portfolio h1, h2, h3, h4{
    text-align: center;
}
#portfolio{
    background-color: var( --portfolio-background );
    color:var(--header-text);
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
}
#portfolio p, #experience li{
    font-size: 20px;
}
#stick-to-top::before{
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    bottom: -50px;
    left: 50%;
    margin-left: -40px;
    background-color: var( --portfolio-background );
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
}
#stick-to-top.fixed::before{
    background-color: var( --portfolio-fixed-background );
}
.smaller-and-smaller li:nth-child(2){
    font-size: 13px;
}
.smaller-and-smaller li:nth-child(3){
    font-size: 10px;
}
.smaller-and-smaller li:nth-child(4){
    font-size: 7px;
}
#im-bored{
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: var( --im-bored );
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
}
#im-bored:hover{
    background-color: black !important;
}
#im-bored h3{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Bungee Shade', cursive !important;
    color:black;
    font-size: 3em;
}
#portfolio h2{
    font-weight: 700;
    font-size: 3em;
}
@media screen and (max-width:480px) {
    #portfolio h2{
        font-size: 2em;
    }
}

.chart {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent {
    height: 200px;
    line-height: 160px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    z-index: 2;
    font-weight: bold;
    padding: 20px;
}
.percent span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#shrinking, #shrinking2{
    -webkit-transition: height 1.5s ease-in;
    -moz-transition: height 1.5s ease-in;
    -o-transition: height 1.5s ease-in;
    transition: height 1.5s ease-in;
}
#skills{
    margin-top: 20px;
    margin-bottom: 40px;
}
.centered{
    text-align: center;
}

#Malwarebytes img{
    width: 320px;
}
#rose img{
    width: 160px;
}
#peery img{
    width: 320px;
}
#experience{
    background-color: var(--portfolio-background);
    margin-top:0px;
    text-align: left;
}
#experience li{
    text-align: left;
}
#overlays li{
    text-align: left;
}
.exprience-section{
    margin-bottom: 35px;
}
.labeler{
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}
.overlay-outer {
    top: 130%;
    position: fixed; /* Sit on top of the page content */
    display: block;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
    left: 0;
    right: 0;
    height: 100%; /* Full height (cover the whole page) */
    width: 100%; /* Full width (cover the whole page) */
    background-color: rgba(0, 0, 0, .4); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.overlay{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 45px;
    margin-bottom: 45px;
    border-radius: 25px;
    background-color: rgb(255,255,255); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
    color: black;
}
.overlay-outer.overlay-active{
    top:0;
    overflow-y: scroll;
    overflow-x: visible;
}
.overlay-button{
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: var(--portfolio-background);
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    color:white;
}
.overlay-button:hover{
    background-color: var(--about-background);
}
.overlay-button h3{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'BioRhyme', serif !important;
    font-size: 50px;
}
.overlay li{
    font-size:18px;
}
#real-height{
    width: 100%;
}
#shrinking{
    overflow: hidden;
}




/*HOME*/



#home{
    background-color: var( --home-background );
    color:white;
    text-align: center;
}
#stick-to-bottom::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    background-color: var( --home-background ); /** Change This Value ***/
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#header{
    width:100%;
    margin: 0;
    padding:0;
}
.image-container{
    overflow:hidden;
}
#face-container{
    margin-top:50px;
    background-image: url("/static/images/dab.jpg");
    background-size: cover;
    padding-top: 50%;
    width: 50%;
    border-radius: 50%;
    border: 8px solid var( --photo-border );
}
#home h1{
    font-size:5em;
    margin-bottom: 50px;
}
#home h2::before{
    display:block;
    position:absolute;
    content:'';
    bottom: 70px;
    width: 100px;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 0 10px 0 #fff;
}

@media screen and (max-width:767px) {
    #face-container{
        padding-top: 83.33333333% !important;
        width: 83.3333333% !important;
    }
}
@media screen and (max-width:480px) {
   #home h1 {
       font-size: 3em;
   }
}


.right{
    float: right !important;
}

/*HEADER*/


.nav_bar ul li{
	display: inline;
    box-sizing: border-box;
    float: left;
}
.nav_bar ul li a{
    text-decoration: none;
    padding: 27px 15px;
    display: block;
    font-size:1.5em;
    color:var(--header-text);
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
}
.nav_bar ul li a:hover{
    color:var(--header-text);
    background-color: var(--header-hover);
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
}

.nav_bar{
    transition: background-color 0.5s ease;
    position: absolute;
    width: 100%;
    height: 84px;
}
#main-logo{
    vertical-align: middle;
    margin: 17px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 20000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 20000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    10% { -moz-transform: rotate(360deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    10% { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% {transform:rotate(0deg);}
    10% {transform:rotate(360deg);}
    100% {transform:rotate(360deg);}
}
.foot-bar{
    width: 100%;
    background-color:var(--header);
    color:var(--header-text);
    z-index: 1;
}
.foot-bar a{
    color:var(--header-text);
}
#collapsible a{
    display:none;
}
#mobile-menu{
    display: none;
    position: fixed;
    top: 84px;
    left:0;
    width: 100%;
    background-color:white;
    visibility: hidden;
}
#mobile-menu ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
#mobile-menu li{
    opacity: 0;
}
#mobile-menu li a{
    font-size:20px;
    display:inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    color:var( --header-text );
}
@media screen and (max-width:767px) {
    .nav_bar ul li a{
        display: none;
        padding-right: 25px;
        padding-left: 25px;
    }
    .small-hidden{
        display: none;
    }
    #collapsible a{
        display: inline-flex;
    }
    #collapsible a:hover{
        display: block;
        text-decoration: none;
        background-color: unset;
    }
    #collapsible a:active{
        background-color:var( --header-hover );
    }
    #collapsible{
        float: right;
    }
    #mobile-menu.opened{
        display: block;
    }
    @keyframes fade_in {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    @keyframes slide_in {
        0% {padding-left: 75px;}
        100% { padding-left: 25px;}
    }
    #mobile-menu li:nth-child(2) {
        animation-delay: .15s;
    }
    #mobile-menu li:nth-child(3) {
        animation-delay: .3s;
    }
    #mobile-menu li:nth-child(4) {
        animation-delay: .45s;
    }
    #mobile-menu li {
        visibility: visible;
        display: block;
        background-color:white;
        animation: fade_in .75s forwards, slide_in .5s forwards ease-out;
    }
}


/*CONTACT*/



#contact{
    background-color: var(--contact-background);
    color: white;
}
#contact h1{
    text-align: center;
}
#contact path{
    fill: var(--portfolio-background);
    -webkit-transition: fill .3s;
    -moz-transition: fill .3s;
    -o-transition: fill .3s;
    transition: fill .3s;
}
#contact .contact-icon:hover path{
    fill: var(--about-background);
}
#button{
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: var(--portfolio-background);
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    color:white;
}

#button:hover{
    background-color: var(--about-background);
}
#button h3{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'BioRhyme', serif !important;
    font-size: 50px;
}
.logos-container{
    margin-top:20px;
    margin-bottom:20px;
}
#contact label{
    font-size: 20px;
}




/*ABOUT*/




#about{
    background-color: var( --about-background );
    color:white;
}
#about h1, h2, h3, h4{
}

svg#bigTriangleColor {
	pointer-events: none;
}

#bigTriangleColor path {
	fill: var(--portfolio-background);
    -webkit-transition: fill .3s ease-out;
    -moz-transition: fill .3s ease-out;
    -o-transition: fill .3s ease-out;
    transition: fill .3s ease-out;
}

.pushed-down::before{
    display:block;
    position:absolute;
    content:'';
    bottom: 30px;
    width: 100px;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 0 10px 0 #fff;
}
.pushed-down{
    margin-top: 20px;
}
.about-text{
    text-align: center;
    font-size: 24px;
}
@media screen and (max-width:480px) {
    .about-text{
        font-size: 18px;
    }
}

#geisal{
    background-image: url("/static/images/about/geisal.jpg");
}
#lax{
    background-image: url("/static/images/about/lax.jpg");
    background-position: center top;
}
#freinds{
    background-image: url("/static/images/about/suit_not_dab.jpg");
    background-position: center top;
}
.about-text{
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 0;
}
.first-about{
    padding-top: 0;
    padding-bottom: 20px;
}
.background-cover{
    height: 100%;
    width:100%;
    background-color:rgba(255,255,255,.07);
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    opacity: 0;
}
.background-cover h3{
    font-size: 30px;
    line-height: 400px;
    color: rgba(255,255,255,.7);
    margin: 0;
}
div[class=background-cover]:hover{
    opacity: 1;
}
.full-screen{
    height: calc(100vh - 84px);
}
